@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

*,html,body{
    overflow-x: hidden;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em ;
    line-height: 1.5em;
    color: rgba(17, 28, 47, 1); 
    margin-bottom: 0.5vh;
} 

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em ;
    line-height: 1.5em;
    color: rgba(17, 28, 47, 1); 
    margin-bottom: 0.5vh;
} 


p, li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em ;
    line-height: 1.5em;
    color:  rgba(17, 28, 47, 1); 
    margin-bottom: 0.5vh;
} 

/* Nav Component */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
    background-color:whitesmoke;
    color:  rgba(17, 28, 47, 1);
    border-bottom: 2px solid rgba(17, 28, 47, 1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3vh;
    z-index: 7;
}
.logo{
    border-radius: 0px;
    width: 12%;
}
.link{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em ;
    line-height: 1.5em;
    color:  rgba(17, 28, 47, 1); 
}
.link:hover{
    background-color: whitesmoke;
    color:  rgba(17, 28, 47, 1); 
    transition: 0.3s ease;
}
.button-log-out{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em ;
    line-height: 1.5em;
    color: white;
    background-color:  rgba(17, 28, 47, 1); 
    border: 2px solid rgba(17, 28, 47, 1);
    border-radius: 5px;
    padding: 5px 10px;
}
.button-log-out:hover{
    background-color: whitesmoke;
    color:  rgba(17, 28, 47, 1); 
    transition: 0.3s ease;
}

/* SignIn Component */

.signin-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    width: 50%;
}

.internal-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em ;
    line-height: 1.5em ;
    margin-bottom: 0.5vh;
}
.input-field{
    width: 100%;
    height: 45px;  
}
.button{
    width: 100%;
    height: 45px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em ;
    color: white;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* SignUp Component */

/* Home view */
.wrapper{
    display: flex;
    flex-wrap: none;
    background: rgb(255,195,1);
    background: linear-gradient(0deg, rgba(255,195,1,1) 0%, rgba(251,180,152,1) 51%, rgba(175,147,195,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    z-index: -1;
    height: 100vh;
}
/* NEW TASK: */
.new-task{
    flex: 3;  
    border-right: 2px solid rgba(17, 28, 47, 1); 
}
.title-new-task{
    margin-top: 6vh;
    padding: 20px 40px;
    border-bottom: 2px solid rgba(17, 28, 47, 1); 
    /* position: fixed;
    z-index: 2;  */
}
.container-new-task{
    display: flex;
    flex-direction: column;
}

/* TASK BOARD: */
.tasks-board{
    flex: 7;
}
.title-task-board{
    margin-top: 6vh;
    padding: 20px 40px;
    border-bottom: 2px solid rgba(17, 28, 47, 1); 
}
.container-task-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 70px 0px;
}

/* NewTask view */

/* NEW TASK: */

.form-new-task{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}
.label-task{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em ;
    line-height: 1.5em;
    color:  rgba(17, 28, 47, 1); 
    margin-bottom: 0.5vh;
}
.button-task{
    width: 100%;
    height: 45px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em ;
    color: white;
}
.button-task:hover{
    background-color: whitesmoke;
    color:  rgba(17, 28, 47, 1); 
    transition: 0.3s ease;
}

/* TaskItem View */

.card-task{
    width: 20vh;
    border: 2px solid rgba(17, 28, 47, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    margin: 20px 40px 80px 40px;
    border-radius: 15px;
}
.category{
    display: flex;
    justify-content: flex-end;
    border: 1px solid rgba(17, 28, 47, 1);
}
hr{
    border: 1px solid rgba(17, 28, 47, 0.5);
}
.card-task li{
    margin-left: 20px;
}
.container-icons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.icon-button{
    
    width: calc(33.33% - 10px); 
    font-size: 20%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 0ch;
}

.icon-button img{
    font-size: 1em;
    border-radius: 0px;
    width: 60%;
}

.container-edit{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
}
.container-edit-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    margin: 20px 40px 80px 40px;
    border-radius: 15px;
    border: 2px solid rgba(17, 28, 47, 1);
    background-color: rgba(255, 255, 255, 1);
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.7);
}
.modal-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    padding: 2%;
    margin: 20px 40px 80px 40px;
    border-radius: 15px;
    border: 2px solid rgba(17, 28, 47, 1);
    background-color: rgba(255, 255, 255, 1);
}
.modal-form h2{
    text-align: center;
    margin-bottom: 2%;
}
.confirmation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vw;
    margin: 2%;
}
.button-confirmation{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em ;
    line-height: 1.5em;
    color: white;
    background-color:  rgba(17, 28, 47, 1); 
    border: 2px solid rgba(17, 28, 47, 1);
    border-radius: 5px;
    padding: 5px 10px;
}

.button-confirmation:hover{
    background-color: whitesmoke;
    color:  rgba(17, 28, 47, 1); 
    transition: 0.3s ease;
}

/* Footer view */

.footer-container{
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    background-color:rgba(17, 28, 47, 1);
    color:whitesmoke;
    border-bottom: 2px solid rgba(17, 28, 47, 1); 
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3vh;
    z-index: 3;
}
.footer-container p{
    color:whitesmoke;
}

/* Menu view */

.menu-mobile{
    display: none;
}

@media screen and (max-width: 796px){

/* Nav Component */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 20px 10px; */
    background-color:whitesmoke;
    color:  rgba(17, 28, 47, 1);
    border-bottom: 2px solid rgba(17, 28, 47, 1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3vh;
    z-index: 3;
}
.logo{
    border-radius: 0px;
    width: 12%;
}
.link{
    display: none;
}

.button-log-out{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em ;
    line-height: 1.5em;
    color: white;
    background-color:  rgba(17, 28, 47, 1); 
    border: 2px solid rgba(17, 28, 47, 1); 
    border-radius: 5px;
    padding: 5px 10px;
}
.button-log-out:hover{
    background-color: whitesmoke;
    color:  rgba(17, 28, 47, 1); 
    transition: 0.3s ease;
}

/* Menu view */

.menu-mobile{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    width: 100%;
    background-color: whitesmoke;
    border-top: 2px solid rgba(17, 28, 47, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.icon-menu{
    display: flex;
    justify-content: center;
    width: calc(33.33% - 10px); 
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
} 
.icon-menu img{
    border-radius: 0%;
    padding: 15px 32px;
    width: 25%;
}

/* NewTask */
.new-task{
    display: none; 
}
.title-new-task{
    display: none;
}
.container-new-task{
    display: none;
}

/* Footer view */
.footer-container{
    display: none;
}

}